@{ 
    Layout = null; 
}

@*<link href="@Url.Content("~/wwwroot/kendo/2014.2.903/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/wwwroot/kendo/2014.2.903/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/wwwroot/kendo/2014.2.903/kendo.web.min.js")"></script>*@

<span style="padding-right: 10px;">Form Schemas</span>
<input id="ddl_form_schemas" style="margin-right: 10px; width: 100px;" />
<div id="grd_form_entries"></div>

<script src="@Url.Content("~/wwwroot/kendo/grid.js")"></script>