<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#bootstrap">Bootstrap</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Kendo <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header"><b>Grid Examples</b></li>
                        <li><a href="#kendo/grid">Grid</a></li>
                        <li><a href="#kendo/filterRow">Filter Row</a></li>
                        <li><a href="#kendo/signalR">SignalR</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0)">Dropdown</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
