<?xml version="1.0"?>
<connectionStrings>
  <add name="DBARepositoryLocalx" connectionString="Data Source=.;Initial Catalog=DBARepository;Integrated Security=SSPI"
    providerName="System.Data.SqlClient" />
  <add name="DBARepositoryLocal" connectionString="Data Source=(localDb)\ProjectsV13;Initial Catalog=DBARepository;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
