@import "../bower/palette.scss";

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: beige;
    border-radius: 12px;
    height: 115px;
    width: 230px;
    float: left;
    padding-top: 2px;
    margin-bottom: 5px;
    margin-right: 2px;
    box-shadow: -4px 3px 30px -4px rgba(0, 0, 0, 0.35);
    text-align: center;

    &.kendo {
        background-color: fade($brand-warning, 40%);
    }

    &.bootstrap {
        background-color: fade($brand-danger, 40%);
    }

    .lead {
        font-weight: bold;
        text-overflow: ellipsis;
        max-width: 230px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin-bottom: 0;
    }

    .actions {
        position: absolute;
        bottom: 2px;
        right: 0;
        margin-right: 0;

        a {
            margin-right: 10px;
        }
    }

    hr {
        display: none;
    }

    &.lg {
        width: 470px;
        height: 235px;

        &:hover {
            cursor: default;
        }

        .lead {
            max-width: 470px;
            width: 80%;
        }

        .actions {
            bottom: 5px;

            a {
                margin-right: 25px;
            }
        }


        .min, .detail {
            display: inline-block;
        }

        .detail {
            width: 100%;
        }

        .min, .lnk {
            color: #252525;

            &:hover {
                color: #dadada;
            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: -4px 3px 30px -4px fade($brand-primary, 70%);
    }

    > .row {
        margin: 0 10px;
    }

    .min, .detail {
        display: none;
    }
}
