<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Environment" value="LOCAL"/>
  </appSettings>

  <connectionStrings>
    <add name="PlaygroundLOCAL" connectionString="Data Source=(localDb)\ProjectsV13;Initial Catalog=Playground;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>