

<div class="row">

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Products</h4>
            </div>
            <div class="panel-body">
                <div id="grd_data"></div>
            </div>
        </div>
    </div>
</div>

<input type="button" class="btn btn-primary" value="Create" onclick="Index.Create()"/>

<script src="@Url.Content("~/Scripts/modules/index.js")"></script>