

<div class="row">

    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">
                People
                <div class="panel-controls">
                    <a class="action danger" href="javascript:void(0)">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a class="action success" href="javascript:Index.CreatePerson()">
                        <i class="fa fa-plus success"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="grd_persons"></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Phones
                <div class="panel-controls">
                    <a class="action danger" href="javascript:void(0)">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a class="action success" href="javascript:Index.CreatePhone()">
                        <i class="fa fa-plus success"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="grd_phones"></div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/modules/index.js")"></script>