

<div class="row">

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Products
                <div class="panel-controls">
                    <a class="action danger" href="javascript:void(0)">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a class="action success" href="javascript:Index.Create()">
                        <i class="fa fa-plus success"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="grd_data"></div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/modules/index.js")"></script>